.App {
  font-family: sans-serif;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: black;
  margin: 0px;
}
.nav li {
  background-color: black;
  color: white;
  border: solid 2px white;
  padding: 4px;
}
a:visited {
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
h1 {
  margin: 0px;
  font-size: 30px;
  padding: 20px;
  background-color: black;
  color: white;
  text-align: center;
}