:root{
    --clr-primary: #eef606;
    --clr-light: #f6a3a3;
    --clr-dark: #333;
    --clr-warning: rgb(99, 36, 36);
}

*,
*::before,
*::after{
    font-family: inherit;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family:"work sans" , sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--clr-primary);
    color:var(--clr-light);

    display: grid;
    grid:
    "header header header header" auto
    "...... lists active ....." auto /
    1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;

}

.title{
grid-area: header;
text-align: center;
font-size: calc(7vw + 2rem);
font-weight: 900;
color:rgba(0, 0, 0, 0.1);
letter-spacing:1px;
margin: -0.3em 0 0.5em;
}

form{
    display: flex;
 }

 .btn{
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: inherit;
 }

 .btn.create{
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
    transition:opacity 250ms ease-in;
}

.btn.create.hover{
    opacity: 0.7;
}

.btn.delete{
    opacity: 0.7;
    font-size: 1rem;
}

 .new{
    background: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size: inherit;
    outline: none;
    padding: 0.25em;
    
    transition: border-bottom 150ms ease-in;
    order:2;
}

.new::placeholder{
    opacity: 0.5;
}

.new:focus{
    border-bottom-width: 3px;
}

.new:focus::placeholder{
opacity: 0.15;
}



.new.task{
    margin-bottom: 0;
}

.active-list{
    font-weight: 700;
}

.todo-list{
--spacer:2rem;

grid-area: active;
background: var(--clr-light);
color: var(--clr-dark);
}

.todo-header{
    padding:var(--spacer);
    background: #e4e4e4;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.list-title{
    margin: 0;
}

.todo-body{
    padding:var(--spacer);
    position: relative;
}

.new-task-creator .create{
    color:var(--clr-primary);
}



.task label{
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-bottom: 1.25em;
}

.task{
    position: relative ;
    margin-bottom: 1.25em;
}

.task::after{
    content:"";
    position: absolute;
    right:0;
    left: 0;
    bottom: -0.5em;
    height: 2px;
    background: currentColor;
    opacity: 0.1;
}

.task label::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top:50%;
    height: 3px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-in-out;

}

.remove-tasks {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 350px;
    color: black;
}

.btn.delete:hover {
    color:var(--clr-warning);
}
